<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MultiWatcherConfigurationSection" 
             allowDefinition="Everywhere" allowLocation="true" 
             type ="MultiFileWatcher.Configuration.MultiWatcherConfigurationSection, MultiFileWatcher"></section>
  </configSections>

  <MultiWatcherConfigurationSection xmlns="http://MultiFileWatcher">
    <files>
      <add path="C:\Documents and Settings\" notifyFilter="FileName" />
      <add path="C:\Stuff\" notifyFilter="" />
    </files>
  </MultiWatcherConfigurationSection>
  
</configuration>